@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background: url(/Images/bg.png.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  height: 100vh;
  position: relative;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 2rem;
  /* margin-bottom: 30rem; */
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 18rem; */
  align-items: center;
}

.logo h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}

.logo h1:hover {
  cursor: pointer;
}
.nav-item-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.nav-items {
  display: flex;
  gap: 5rem;
  margin-right: 4rem;
}

.nav-item {
  font-size: 1.9rem;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.nav-item:hover {
  color: #b8cedd;
}
.call-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ion-icon {
  font-size: 3.4rem;
}

.call-us,
.call-link {
  font-size: 1.8rem;
  font-weight: 600;
}

hr {
  width: 65%;
  margin: 4rem auto;
  margin-right: 4.2rem;
  margin-bottom: 10rem;
}

/* ****************************** */
/* main section style  */
/* ****************************** */

.main-section {
}
.text {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4rem;
}

button {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 2rem 4rem;
  background-color: transparent;
}

/* float style */
.float {
  /* position: relative; */
}
.puzzle-wrapper {
  width: 28rem;
  height: 15rem;
  background-color: #30465759;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 160px;
  right: 144px;
  padding: 2rem;
}

.puz-icon {
  width: 10rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 1rem;
}

.puzzle {
  font-size: 3.5rem;
  padding: 0.5rem 0;
  color: #000;
}
.text-puzzle {
  font-size: 1.6rem;
}

/* ..........................  */

.Innovation-wrapper {
  width: 28rem;
  height: 15rem;
  background-color: #30465775;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  bottom: 11rem;
  right: 49rem;
  padding: 2rem;
}

.puz-icon {
  width: 10rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 1rem;
}

.bulb {
  font-size: 3.5rem;
  padding: 0.5rem 0;
  color: #000;
}
.text-innovation {
  font-size: 1.6rem;
}

/* ****************************** */
/* Media Quaries  */
/* ****************************** */
@media (max-width: 1200px) {
  .container {
    max-width: 110rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 55%;
  }
  .container {
    max-width: 100rem;
  }

  .nav-items {
    gap: 3rem;
  }
  .text {
    font-size: 5rem;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .navbar {
    padding: 0 3rem;
  }
  .logo h1 {
    font-size: 2rem;
  }
  .nav-item-container {
    gap: 3rem;
  }
  .nav-item {
    font-size: 1.6rem;
  }
  .text {
    font-size: 4rem;
  }
  .call-us,
  .call-link {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .main-section {
    padding: 0 3rem;
  }
  .puzzle-wrapper {
    right: 10rem;
  }
  .Innovation-wrapper {
    right: 10rem;
  }
}
